# build artifacts
analyzer/build/
**/*.bc
**/*.o
**/target/
examples/**/build/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
fixtures/**/build/
fixtures/**/prog
fixtures/**/merged.bc
.venv/
not_reached.txt
reached.txt
test.json
*~
**/*~
.cache
